# Environment Variables
.env
.env.example
.env*.local

# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js Build Output
/.next/
/out/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS Files
.DS_Store
Thumbs.db

# Python Virtual Environment
venv/
.venv/